@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&family=Noto+Sans+Syloti+Nagri&family=Ysabeau+SC:wght@1..1000&display=swap');

:root {
    background-color: #181818;
    color: silver;
}

#new-book-btn {
    display: block;
    font-family: 'kanit';
    padding: 15px;
    border-radius: 10px;
    margin: 5px auto;
    font-size: 20px;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid;
    padding: 20px;
}

.book-header {
    font-family: 'Montserrat';
}